.error { color: red;
         font-family: arial;
         font-size: 10pt;
         font-style:italic;
}
body{
    background-color:#F0F0FF;
    background-image: url(../img/black2.jpg);
    background-attachment: fixed;
    background-repeat:repeat;
}
h1{
	font-size: 32pt;
}
#wrapper {
	width:800px;
	margin:auto;
	background-color:#FFFFFF;	
}
#header {
	height:80px;
	background-image:url(../img/h4.jpg);
	background-repeat:no-repeat;
	height:120px;
}

#menu {
	background-image:url(../img/menu.png);
	height:25px;
	padding-top:5px;
	text-align:center;
}
#menu a, #footer a{
	color:rgb(0, 0, 0);
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding:20px;
}
#footer {
	background-image:url(../img/menu.png);
	height:25px;
	padding-top:5px;
	text-align:center;
}
.Button_green {
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: green;
    border-radius: 6px;
    border: 2px solid #b00000;
}
.Button_green:hover {
	background-color:greenyellow;
	background-color: white;
}
.Button_green:active {
	position:relative;
	top:1px;
}
.Button_blue {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid blue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}
.Button_red {
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    border-radius: 6px;
    border: 2px solid #b00000;
}
.Button_red:hover {
	color: #1883ba;
    background-color: white;
}
.Button_red:active {
	position:relative;
	top:1px;
}



